# === WordPress core ===
/wp-admin/
/wp-includes/
/index.php
/wp-*.php
/readme.html
/license.txt

# === Конфиг ===
wp-config.php

# === Медиа ===
wp-content/uploads/

# === Плагины: исключаем все, кроме кастомных (если появятся) ===
wp-content/plugins/*
# !wp-content/plugins/my-custom-plugin/

# === Темы: исключаем все, кроме своей ===
wp-content/themes/*
!wp-content/themes/generatepress-child/

# === MU plugins (если появятся) ===
# wp-content/mu-plugins/*
# !wp-content/mu-plugins/my-mu-plugin.php

# === Временные папки и логи ===
wp-content/webtoffee_import/
wp-content/webtoffee_export/
wp-content/webtoffee_iew_log/
wp-content/jetpack-waf/
wp-content/fonts/

local-xdebuginfo.php

# === Node / Composer ===
node_modules/
vendor/
dist/
build/

# === IDE / System ===
*.log
*.cache
*.tmp
*.sql
*.tar.gz
/.idea/
/.vscode/
.DS_Store
Thumbs.db
# === Плагины: игнорируем всё, кроме своих ===
wp-content/plugins/*
!wp-content/plugins/                # разрешить саму папку

!wp-content/plugins/paint-core/
!wp-content/plugins/paint-core/**

!wp-content/plugins/paint-shop-ux/
!wp-content/plugins/paint-shop-ux/**

!wp-content/plugins/Rolle_Price/
!wp-content/plugins/Rolle_Price/**